@import './variable.scss';
/*
 * description： element_ui 样式调整
 * author： liudehua
*/

.el-table {
  font-size: .75rem;
}

.el-botton,
.el-button--small {
  border-radius: 0 !important;
  padding: .5625rem .625rem;
}

.el-pagination {
  float: right;
  padding: .9375rem !important;
}

// form  
.el-form-item--small.el-form-item {
  margin-bottom: 1.25rem !important;
}

.el-form-item--small .el-form-item__error {
  line-height: 1.125rem;
}

// input
.el-input__inner:hover {
  border-color: #c0c4cc;
}

.el-input,
.el-textarea {
  input,
  textarea {
    border-radius: 0;
  }
}

.el-date-editor.el-input {
  width: 100% !important;
}

.el-form {
  .el-form-item {
    .el-form-item__label {
      padding-right: 1.25rem;
    }
    .el-input,
    .el-input__inner,
    .el-textarea,
    .el-select {
      width: 28.125rem;
      max-width: 100%;
    }
  }
}

// 普通上传默认属性
.upload {
  .el-upload-list__item,
  .el-upload--picture-card {
    border-style: solid;
    border-color: #dcdfe6;
    transition: border-color .5s;
    border-radius: 0;
    &:visited {
      border-color: #dcdfe6;
    }
    &:hover {
      border-color: #c0c7cc;
    }
  }
  .el-upload-list--picture-card .el-upload-list__item {
    border-radius: 0;
  }
  &.uploadError {
    .el-upload-list__item,
    .el-upload--picture-card {
      border-color: #f05050;
    }
  }
  &.uploadSuccess {
    .el-upload-list__item,
    .el-upload--picture-card {
      border-color: #61c64c;
    }
  }
  .el-upload-list--picture-card .el-upload-list__item-status-label i {
    position: absolute;
    top: .625rem;
    right: .9375rem;
    margin-top: 0;
  }
}

.el-dialog {
  .el-dialog__body,
  .el-dialog__footer {
    padding: 1.25rem 6rem;
  }
  .el-dialog__body {
    max-height: 28rem;
    overflow-y: auto;
  }
  .el-dialog__footer {
    border-top: .0625rem solid #e5e5e5;
    text-align: center;
  }
  .el-dialog__header {
    border-bottom: .0625rem solid #e5e5e5;
  }
}
